html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*    background-image: url("../assets/bg.jpg");*/
/*    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;*/
    z-index: -1;
}

#emulator {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#matrix-display {
    position: absolute;
    top: 1%;
    left: 50%;
    /* Adjust transform to only center horizontally */
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(10, minmax(8px, 1fr));
    grid-template-rows: repeat(10, minmax(8px, 1fr));
    gap: clamp(1px, 0.5vw, 4px);
    width: min(98vw, 98vh);
    height: min(98vw, 98vh);
    margin: 0;  
    padding: 0; 
    pointer-events: auto;
}

.pixel {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    background-color: rgba(204, 204, 204, 0.4);
    border-radius: clamp(2px, 0.5vw, 4px);
    transition: all 0.3s ease;
}

#touch_button {
    position: absolute;
    top: 20px;
    right: 5%;
    padding: 20px;
    font-size: 0px;
    font-weight: bold;
    color: #ffffff;
    background-color: #4a4a4a;
    background-image: linear-gradient(to bottom, #5a5a5a, #4a4a4a);
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    box-shadow:
        0 1px 0 rgba(255, 255, 255, 0.2) inset,
        0 -1px 0 rgba(0, 0, 0, 0.2) inset,
        0 4px 6px rgba(0, 0, 0, 0.3);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    transition: all 0.1s ease;
    cursor: pointer;
}

#touch_button:hover {
    background-image: linear-gradient(to bottom, #5a5a5a, #5a5a5a);
}

#touch_button:active {
    background-image: linear-gradient(to bottom, #5a5a5a, #5a5a5a);
    box-shadow:
        0 1px 0 rgba(255, 255, 255, 0.2) inset,
        0 -1px 0 rgba(0, 0, 0, 0.2) inset,
        0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

#speak_button {
    display: block;
    position: absolute;
    top: 80px;
    right: 5%;
    padding: 20px;
    font-size: 0px;
    font-weight: bold;
    color: #ffffff;
    background-color: #4a4a4a;
    background-image: linear-gradient(to bottom, #5a5a5a, #4a4a4a);
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    box-shadow:
        0 1px 0 rgba(255, 255, 255, 0.2) inset,
        0 -1px 0 rgba(0, 0, 0, 0.2) inset,
        0 4px 6px rgba(0, 0, 0, 0.3);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    transition: all 0.1s ease;
    cursor: pointer;
    border-radius: 200px;
}

#speak_button:hover {
    background-image: linear-gradient(to bottom, #4a4a4a, #3a3a3a);
}

#speak_button:active {
    background-image: linear-gradient(to bottom, #5a5a5a, #5a5a5a);
    box-shadow:
        0 1px 0 rgba(255, 255, 255, 0.2) inset,
        0 -1px 0 rgba(0, 0, 0, 0.2) inset,
        0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

#bubbles {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-53%);
    width: 80%;
    max-width: 800px;
    /* height: 100vh; */
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    /* background-color: rgba(0, 0, 0, 0.1); */
}

.bubble {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 15px 25px;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    opacity: 0;
    transition: all 0.5s ease-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 70%;
}

.bubble-right {
    margin-left: auto;
    text-align: right;
    transform: translateX(50px);
}

.bubble-left {
    margin-right: auto;
    text-align: left;
    transform: translateX(-50px);
}

.bubble.show {
    opacity: 1;
    transform: translateX(0);
}

.bubble.hide {
    opacity: 0;
    transform: translateY(-20px);
}

@keyframes gentle-bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.bubble.show {
    animation: gentle-bounce 0.5s ease-out;
}

.toggle-button {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    z-index: 1000;
}

.project-info {
    position: fixed;
    top: 0;
    left: -470px; /* Start off-screen */
    width: 410px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    transition: left 0.1s ease-in-out;
    z-index: 999;
}

.project-info.show {
    left: 0;
}

textarea {
    height: 100px;
    width: 360px;
    /* Adjust the height as needed */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    resize: vertical;
    font-size: 14px;
    background-color: #fff;
}

textarea[readonly] {
    background-color: #e9e9e9;
}

#submit-button,
#record-button,
#rerun-button {
    align-self: flex-start;
    /* Align the button to the start of the container */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4b3ed6;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#rerun-button {
    background-color: #a1bf29;
    /* Blue background */
}

button:disabled {
    background-color: #cccccc;
    /* Light gray background */
    color: #666666;
    /* Dark gray text */
    cursor: not-allowed;
    /* Change cursor to indicate the button is not clickable */
    box-shadow: none;
    /* Remove shadow for a flat look */
}
