body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-layout {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Adjust the gap between elements as needed */
}

textarea {
    height: 150px;
    width: 400px;
    /* Adjust the height as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    resize: vertical;
    font-size: 14px;
    background-color: #fff;
}

textarea[readonly] {
    background-color: #e9e9e9;
}

button {
    align-self: flex-start;
    /* Align the button to the start of the container */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4b3ed6;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#rerun-button {
    background-color: #a1bf29;
    /* Blue background */
}

button:disabled {
    background-color: #cccccc;
    /* Light gray background */
    color: #666666;
    /* Dark gray text */
    cursor: not-allowed;
    /* Change cursor to indicate the button is not clickable */
    box-shadow: none;
    /* Remove shadow for a flat look */
}


.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-half,
.right-half {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.right-half {
    flex-direction: column;
}

#emulator {
    text-align: center;
}


#gyroscope {
    margin-bottom: 20px;
    font-size: 18px;
}

#matrix-display {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(10, 20px);
    gap: 5px;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #fff;
}

.pixel {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 3px;
}

#touch_button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
