version: '3.8'


services:
  app:
    build:
      context: ..
      dockerfile: deploy/Dockerfile

    user: 1000:1000

    environment:
      - ANTHROPIC_API_KEY
      - REPLICATE_API_KEY

  nginx:
    image: nginx:latest
    ports:
      - "8081:8081"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/apache2/.toy:/etc/nginx/.htpasswd
    depends_on:
      - app

networks:
  default:
