version: '3.8'


services:
  app: &app
    build:
      context: ..
      dockerfile: deploy/Dockerfile

    depends_on:
      - elastic

    user: 1000:1000

    environment:
      - LC_SEARCH_API_URL=lc_search.vadim.one

    volumes:
      - ./cache:/app/cache
      - ./filestorage:/app/filestorage

  web_ui:
    <<: *app
    depends_on:
      - app

    command: pdm run streamlit run lc_search/ui/home.py --server.port 8000

  elastic:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.14.1
    volumes:
      - elastic-data:/usr/share/elasticsearch/data
    environment:
      - discovery.type=single-node
      - ELASTIC_PASSWORD=ellastic
      - xpack.security.enabled=false
      - xpack.security.enrollment.enabled=false
    deploy:
      resources:
        limits:
          memory: 5G

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/apache2/.htpasswd:/etc/nginx/.htpasswd
    depends_on:
      - app


volumes:
  elastic-data:


networks:
  default:
