version: '3.8'

services:
  app:
    build:
      context: ..
      dockerfile: deploy/Dockerfile

    user: 1000:1000

    environment:
      - ANTHROPIC_API_KEY
      - REPLICATE_API_KEY

    ports:
      - "8081:8081"

networks:
  default:
